.parent-div {
  display: flex;
  box-shadow: 8px 8px 0 0 hsl(0, 0%, 8%);
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  margin: 0 auto;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  width: min(100% - 2rem, 22rem);
  box-sizing: border-box;
}

.child-div {
  min-height: 110px;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0 0% 20%);
  color: hsl(0 0% 100%);
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: 700;
}

.child-div.name,
.child-div.location,
.child-div.bio {
  background: transparent;
}

.child-div.location {
  color: hsl(75 94% 57%);
}

.child-div--image {
  background: transparent;
  min-height: auto;
  padding: 0.5rem 0;
}

.profile-image {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 640px) {
  .parent-div {
    grid-template-columns: 1fr;
  }

  .child-div {
    min-height: 80px;
  }
}

.child-div.link:hover {
  background: hsl(75 94% 57%);
  color: hsl(0 0% 20%);
}
